body{
    height: 1024px; 
    width: 768px;

    margin-left: auto;
    margin-right: auto; 
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: rgb(8, 197, 197);
}