body{
    height: 1024px; 
    width: 768px;

    margin-left: auto;
    margin-right: auto; 
    

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-size: 25px;
    background-color: rgb(128, 146, 128)
}
