body{
    width: 650px;
    height: 510px;
    
    margin-left: auto;
    margin-right: auto; 
}

.upClass{
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.cap{
    text-align: right;
}

.badFont{
    font-family: 'Bad Script', cursive;
    text-indent: 20px;
    text-align: justify;
}